.dashboard-cards-outer {
  width: 100%;
  height: auto;
}
.dashboard-card {
  margin-left: 15px;
  width: 210px;
  border-radius: 12px;
  display: inline-block;
  height: 80px;
  margin-bottom: 16px;
}

.dashboard-card span {
  display: block;
  height: 30px;
  text-align: center;
}
.card-no {
  font-size: 34px;
  color: white;
  font-weight: bold;
}
.card-name {
  font-size: 22px;
  color: white;
  font-weight: 450;
  margin-top: 3%;
}
.card-color-1 {
  background-color: #2b00f4;
}
.card-color-2 {
  background-color: #2b00f4;
}
.card-color-3 {
  background-color: #ffca9f;
}
.card-color-4 {
  background-color: #e2e20a;
}
.card-color-5 {
  background-color: #0ae2e2;
}
.card-color-6 {
  background-color: #1d68ed;
}
.main-panel {
  padding-left: 0% !important;
}
// @media (min-width:1000px) and (max-width:1310px){
//    .main-panel{
//      padding-top: 8% !important;
//      padding-left: 0% !important;
//    }
// }
// @media (min-width:500px) and (max-width:768px){
//   .main-panel{
//     padding-left: 10% !important;
//   }
// }
// @media (min-width: 360px) and (max-width: 500px) {
//   .dashboard-card {
//     margin: 10px 30%;
//   }
// }
// @media (min-width: 768px) and (max-width: 1024px) {
//   .main-panel {
//     padding-left: 5% !important;
//   }
//   .dashboard-card {
//     margin-bottom: 16px;
//   }
// }
@media screen and (max-width: 375px) {
  .scrool-mobile {
    padding-left: 25%;
  }
}
@media screen and (max-width: 768px) {
  .scrool-mobile {
    padding-left: 12% !important;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .scrool-mobile {
    padding-top: 5%;
    padding-left: 5%;
  }
  .dashboard-card {
    margin-left: 8px;
    width: 22% !important;
  }
}
@media (min-width: 1024px) and (max-width: 1440px) {
  .dashboard-card {
    margin-left: 8px;
    width: 15%;
  }
}
@media (min-width: 1440px) and (max-width: 1550px) {
  .dashboard-card {
    width: 15%;
  }
}

// @media (min-width: 1310px) and (max-width: 1550px){
//   .main-panel{
//     padding-left: 0% !important;
//   }
// }
// @media (max-width:767px) and (min-width:375px){
//   .scrool-mobile{
//     overflow-x: auto;
//     scrollbar-width: none;
//   }
//   .scrool-mobile::-webkit-scrollbar {
//     display: none;
//   }
// }
